<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_reg.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center text-center h-100">
        <form id="login_reg_form" class="bg-transparent bg-opacity-25 p-3 col-5" action="/register" method="post">
            <div class="form-group text-left pb-3">
                <div class="d-flex justify-content-center pb-3">
                    <img class="" src="{{ url_for('static', filename='img/login_icon.png') }}">
                    <h1 class="">Create an Account</h1>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="">
                            {% for message in messages %}
                                <li class='text-danger'><em>{{ message }}</em></li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <input type="text" class="text-center form-control mb-4" name="first_name" aria-describedby="helpId" placeholder="First Name">
                <input type="text" class="text-center form-control mb-4" name="last_name" aria-describedby="helpId" placeholder="Last Name">
                <input type="text" class="text-center form-control mb-4" name="email" aria-describedby="helpId" placeholder="Email Address">
                <input type="password" class="text-center form-control mb-4" name="password" aria-describedby="helpId" placeholder="Password">
                <input type="password" class="text-center form-control mb-4" name="confirm" aria-describedby="helpId" placeholder="Confirm Password">
                <input type='submit' value='Register' class="btn btn-secondary">
            </div>
            <p>Already have an account? <a href="/" class="">Click here to login!</a></p>
        </form>
    </div>
</body>
</html>