<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Trip</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar pt-5 justify-content-between mb-4">
            <h3 class="">Hello, {{ session.first_name }}! Read about this trip!</h3>
            <div>
                <a class="btn btn-success ml-3" href="/dashboard">Dashboard</a>
                <a class="btn btn-danger ml-3" href="/logout">Logout</a>
            </div>
        </nav>
        <div class="border border-dark rounded p-3 mb-3 col-6 mx-auto">
            <h3>{{ trip.destination }}</h3>
            <p>
                <span class="text-success" >Start Date:</span> {{ trip.start_date.strftime('%m-%d-%Y') }} <br>
                <span class="text-success" >End Date:</span> {{ trip.end_date.strftime('%m-%d-%Y') }} <br>
                <span class="text-success" >Trip Created:</span> {{ trip.created_at.strftime('%m-%d-%Y') }} <br>
                <span class="text-success" >Trip Updated:</span> {{ trip.updated_at.strftime('%m-%d-%Y') }} <br>
                <span class="text-success" >Plan:</span> {{ trip.plan }} <br>
                <span class="text-success" >Trip Created By:</span> {{ trip.creator.first_name }} {{ trip.creator.last_name }}
            </p>
        </div>
        <div class="border border-dark rounded p-3 col-6 mx-auto">
            <h3>People who have joined the trip:</h3>
            {% for trip in joined  %}
                <p>{{ trip.joiner_first_name }} {{ trip.joiner_last_name }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>